<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174614506994-0fla41pfvpo69m0t23iq72evd8dv4860.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174614506994-0fla41pfvpo69m0t23iq72evd8dv4860</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>174614506994-5f2pssmtgb4c6tq80qgh2htfaianebth.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQuoFGL5wTGKxb355Bf4L_jyMc8iM7CKs</string>
	<key>GCM_SENDER_ID</key>
	<string>174614506994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cookly.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>recipe-ac5c8</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-ac5c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174614506994:ios:4b5f7c5e462d8b6be44f6b</string>
	<key>DATABASE_URL</key>
	<string>https://recipe-ac5c8-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>